/* your styles go here */

strong.subtitle {
    text-transform: uppercase;
}

html, body {
    font-size: 16px;
}

.sidebar-heading {
    font-size: 2em;
}

.sidebar-p {
    font-size: 1.2em;
    color: #555555;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.content-column p {
    margin-bottom: 1em;
}